/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    color: var(--gb-dark);
}

:root {
    --gb-title: #ff9614;
    --gb-title-bg: #ffffff;
    --gb-recipe-name: #4e3969;
    --gb-main-bg: #f6f5f3;
    --gb-dark: #000000;
    --gb-dark-soft: #a2a2a2;
    --gb-light: #f9f8fb;
    --gb-footer-bg: #7c69a4;
}

/* #endregion common */

/* #region utilities */

/* layout */
.content_align {
    margin: 2rem;
}

/* /layout */

/* text format */
.description {
    color: var(--gb-dark-soft);
}

.recipe_title {
    color: var(--gb-recipe-name);
}

/* /text format */

/* buttons */
/* /buttons */

/* #endregion utilities */

/* #region header */
header {
    display: flex;
    justify-content: center;
    background-color: var(--gb-title-bg);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    h1 {
        font-family: 'Nerko One', cursive;
        color: var(--gb-title);
        font-size: 60px;
        text-shadow: 2px 2px var(--gb-dark-soft);
        text-wrap: nowrap;
    }
}

/* #endregion header */


/* #region main */

main {
    padding-top: 8rem;
    background-color: var(--gb-main-bg);
}

/* #endregion main */

/* #region footer */

footer {
    background-color: var(--gb-footer-bg);

    * {
        color: var(--gb-light);
    }
}



/* #endregion footer */

/* #region media queries */
@media screen and (max-width: 650px) {
    header {
        margin: 1.5vw;

        h1 {
            font-size: 9.3vw;
        }
    }
}

@media screen and (max-width: 768px) {
    place:holder;
}

/* mobile */

@media screen and (max-width: 576px) {
    place:holder;
}

/* /large mobile */

@media screen and (min-width: 768px) {
    header {
        justify-content: unset;
    }
}

/* /tablet */

@media screen and (min-width: 992px) {
    place:holder;
}

/* /desktop */


/* #endregion media queries */